.view-books {
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .new-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
      text-align: center;
    }
    
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
    
    button {
      margin-left: auto;
    }
  }
}
